
<div class="container">
<h3>
Rules
  </h3>
<ul>
<li>Each student’s turn lasts 20 minutes</li>
<li>Up to 4 students in the room at once or it is full</li>
<li>You may work with more than one student at a time, if it is convenient</li>
  <li>You may ask students to try something and come back to them later to take a new question from someone else.</li>
<li>Greet students as they enter the room and ask them to state </li>their question
<li>Ask students to leave the room after their turn so others can join</li>
  </ul>



  <h3>Rules for students</h3>
  <p>
    You can post these rules into the chat each time a student joins, or have them on a shared whiteboard when students enter.
  </p>
  <ul>
    <li>Please ask your questions upon entring the room. </li>
    <li>The mentor will finish working with those ahead of you in line before answering  your question. </li>
    <li>The mentor may work with more than one person at the same time.</li>
    <li>Each person can have 20 minutes for their question. After the question has been answered, please leave the room so another can join.</li>
  </ul>

  </div>